h1, h2 {
  font-family: 'Montserrat', sans-serif;
    color: #4b4949;
}

h3 {
  font-family: "Clarkson", "Helvetica", "sans-serif";
  color: #4b4949;
  text-align: center;
}

h4 {
  font-family: "Clarkson", "Helvetica", "sans-serif";
  color: #2e2c2c;
  font-size: 15px;
}

h5 {
  color: #807c7c;
  font-style: italic;
  font-size: 15px;
  font-family: "Libre Franklin", "sans-serif";
}

.sub-heading {
  margin-top: 30px;
}

#para1 {
font-family: 'Montserrat', sans-serif;
letter-spacing: 9px;
font-weight: 300;
margin-top: 40px;
margin-bottom: 20px;
}
