h1,
h2 {
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: #060606;
}
h3 {
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: #4b4949;
  text-align: center;
}

h4 {
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: #4b4949;
  font-size: 15px;
}

h5 {
  color: #807c7c;
  font-style: italic;
  font-size: 15px;
  font-family: "Libre Franklin", "sans-serif";
}

.sub-heading {
  margin-top: 30px;
}
