<div>
<h1>You're checked in!</h1>
</div>

<div class="container">
<a class="btn btn-ghost" href="#">Check in on me</a>
 </div>
<div class="container">
<a class="btn btn-ghost" href="#">Call me</a>
</div>
<div class="container">
<a class="btn btn-ghost" href="#">Date is finished</a>
</div>