<div id="star_container">
<%  5.times do  %>
<i class="fa-solid fa-star"></i>
<% end %>
</div>


<%# hover over with css to change colour and when clicking changes happen with javascriopt add event listening etc on the above & change colour %>
