<div>
<h1>You're checked in!</h1>
    <i class="fa-duotone fa-angel"></i>
</div>

<div class="container">
<a class="button-checkin" id="checkin" href="#">Check in on me</a>
<%# <%= link_to "Check in on me", place_path(@path), class: "btn btn-ghost" %>
 </div>
<div class="container">
<%# <a class="btn btn-ghost" id="call-me" href="#">Call me</a> %>
<a href="tel:5554280940">Call Angel</a>
<%# <%= link_to "Call me", place_path(@path), class: "btn btn-ghost" %>
</div>
<div class="container">
<a class="button-checkin" id="finished" href="#">Date is finished</a>
<%# <%= link_to "Review your date", "/places", class: "button" %>
<%# <%= link_to "Date is finished", place_path(@path), class: "btn btn-ghost" %>
<%# <div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Great!</strong> 🎉 a member of staff will be with your shortly.</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div> %>
