<div>
<h1>You're checked in!</h1>
</div>

<div class="container">
<a class="btn btn-ghost" href="#">Check in on me</a>

<%= link_to "Check in on me", "#", class: "btn btn-ghost" %>
 </div>
<div class="container">
<a class="btn btn-ghost" href="#">Call me</a>
<%= link_to "Call me", "#", class: "btn btn-ghost" %>
</div>
<div class="container">
<a class="btn btn-ghost" href="#">Date is finished</a>
<%= link_to "Date is finished", "#", class: "btn btn-ghost" %>
=======
 </div>
<div class="container">
<a class="btn btn-ghost" href="#">Call me</a>
</div>
<div class="container">
<a class="btn btn-ghost" href="#">Date is finished</a>
</div>