
<div class= "homepage_wrapper">
<div class="homepage-text">
  <%# <h1>PICK A DATE</h1> %>
  <h1>Welcome Manu!</h1>
  <p>book your Angel today</p>
</div>

<div class="front-page">
  <%# <%= video_tag "#insertvideo", class: "home_video" %> %>
</div>
