  .card-trip .card-trip-infos {
    padding: 16px;
    // display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
    // justify-content: space-between;
    // align-items: flex-end;
    position: relative;
    border-radius: 20px;
  }
  .card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;

  }
  .card-trip {
    overflow: hidden;
    background: rgb(255, 255, 255);
    margin: 10px 0px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px  rgba(0,0,0,.2);
  }
  .list-group > a img {
    min-height: 200px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .card-trip h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-trip a {
    color: #242424;
    text-decoration: none;
}

  .card-trip:onclick a {
     color: #636363;
  }

  .card-trip p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .front-page img {
    min-height: 200px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding-top: 10px;
  }

  .row h1 {
    font-family: "Work Sans", "Helvetica", "sans-serif";
    color: #242424;
    text-align: center;
  }

  .homepage-text {
    text-align: center;
    padding-top: 30px;
  }

.line_break {
  border-top: 1px solid #f1efef;
}


.confirmation-text {

    padding-top: 30px;
}
