  .card-trip .card-trip-infos {
    padding: 16px;
    // display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
    // justify-content: space-between;
    // align-items: flex-end;
    position: relative;
    border-radius: 20px;
  }
    .card-trip .card-trip-infos-2 {
    padding: 16px;
    // display: flex;
    background: #fcebff;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
    // justify-content: space-between;
    // align-items: flex-end;
    position: relative;
    border-radius: 20px;
  }

    .card-trip .card-trip-infos-2 h4 {
    font-family: 'Montserrat', sans-serif;
    color: #4b4949;
    }

  .card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;

  }
  .card-trip {
    overflow: hidden;
    background: rgb(255, 255, 255);
    margin: 10px 0px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px  rgba(0,0,0,.2);
  }
  .list-group > a img {
    min-height: 200px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    }

  .card-trip h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-trip a {
    color: #242424;
    text-decoration: none;
}

  .card-trip:onclick a {
     color: #636363;
  }

  .card-trip p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .front-page img {
    min-height: 200px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding-top: 10px;
  }

  .row h1 {
    font-family: 'Montserrat', sans-serif;
    color: #4b4949;
    text-align: center;
  }

  .homepage-text h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 30px;
    color: #4b4949;
    letter-spacing: 7px;
    margin-top: 30px;
  }

  .homepage-text p{
    color: #4b4949;
    text-align: center;
    margin-bottom: 20px;
  }

.line_break {
  border-top: 1px solid #f1efef;
}


.confirmation-text {

    // padding-top: 30px;
}

.confirmation-page {
  background-color: #F8F9FA;
   position: absolute;
   overflow: hidden;
   height: 90%;
}


.image-confirmation {
    min-height: 260px;
    height: 200px;
    width: 90vw;
    object-fit: fill;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
  }

.confirmation-text h1{
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #4b4949;
    font-size: 40px;
    text-align: center;
}

.confirmation-text h2{
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #4b4949;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
}

.confirmation-text h5{
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #807c7c;
    font-style: italic;
    font-size: 15px;
}

.confirmation-text .myButton {
  text-align: center;
  width: 50vw;
  margin: 30px auto;
}
