
.button-profile {
  color: #7D7B7B;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  font-size: 15px;
  border: 1px solid #0E0D0D;
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
.button-profile:hover {
     background: #e5e2e5e5;
     color: rgb(0, 0, 0);
     text-decoration: wavy;
}
.button-checkin {
    color: #7D7B7B;
    font-family: "Work Sans", "Helvetica", "sans-serif";
    font-size: 15px;
    border: 1px solid #0E0D0D;
    padding: 4px 4px;
    border-radius: 12px;
    font-weight: lighter;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.button-checkin:hover {
     background: #e5e2e5e5;
     color: rgb(0, 0, 0);
     text-decoration: wavy;
}
.myButton {
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #d7b5e8;
	display:inline-block;
	cursor:pointer;
	color:#9b43be;
	font-family:Arial;
	font-size:12px;
	padding: 8px 12px;
	text-decoration:none;
	// text-shadow:0px 1px 0px #ffffff;
}
.myButton-primary {
	background-color:#d7b5e8;
	border-radius:28px;
	border:1px solid #d7b5e8;
	display:inline-block;
	cursor:pointer;
	color:#232323;
	font-family:Arial;
	font-size:12px;
	padding: 8px 12px;
	text-decoration:none;
	// text-shadow:0px 1px 0px #ffffff;
}
.myButton-primary:hover {
	background-color:#e9c8f0;
  color:#050505;
}
.myButton:hover {
	background-color:#e9c8f0;
  color:#050505;
}
.myButton:active {
	position:relative;
	top:1px;
  color:#050505;
}
