#finished {
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #d7b5e8;
	display:inline-block;
	cursor:pointer;
	color:#050505;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#checkin {
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #d7b5e8;
	display:inline-block;
	cursor:pointer;
	color:#050505;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#callme {
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #d7b5e8;
	display:inline-block;
	cursor:pointer;
	color:#050505;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

// #finished:hover {
//     background: #e5e2e5e5;
//     color: rgb(0, 0, 0);
//     text-decoration: wavy;
// }

#checkin:hover {
	background-color:#e9c8f0;
    color:#050505;
}

#finished:hover {
	background-color:#e9c8f0;
    color:#050505;
}

#callme:hover {
	background-color:#e9c8f0;
    color:#050505;
}