.navbar-lewagon {
  justify-content: space-between;

  background: #ffffff;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 2;
  box-shadow: 0 4px 2px -2px rgba(83, 83, 83, 0.2);

}

.include_nav_height {
  height: 76px;
}

.button-checkin-2  {
    color: white !important;
    background: #380650;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: 1px solid #380650;
    padding: 4px 4px;
    border-radius: 12px;
    font-weight: lighter;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.button-checkin-2:hover {
  background: #e5e2e5e5;
  color: rgb(0, 0, 0) !important;
  text-decoration: wavy;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.send-call-button {
  vertical-align: middle;
  border-style: none;
  opacity: 50;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  margin-left: 8px;
}

.navbar-icons {

  border: none;
  background: transparent;
  .phone-icon {
  height: 40px;
  // width: 35px;
  // margin-top: 5px;
  margin-right: 10px;
  // opacity: 50;
  }
  .message-icon {
    height: 25px;
    margin-top: 9px;
    margin-right: 8px;
  }
}
