.place-new{
  margin-top: 24px;
  box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.3);
  padding: 32px 48px;
  margin-bottom: 48px;
  border-radius: 16px;
  width: 50%;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
}

.link-place-new {
  padding-top: 8px;
}
